/* body {
    margin: 0;
    background: rgba(0,0,0,0.3);
    text-align: center;
    text-color-normal: hsl(210, 10%, 62%);
    text-color-light: hsl(210, 15%, 35%);
    text-color-richer: hsl(210, 50%, 72%);
    text-color-highlight: hsl(25, 70%, 45%);
} */

html {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}
